<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ML API</title>
    <link href ='https://fonts.googleapis.com/css?family=Pacifico' rel = 'stylesheet' type ='text/css'>
    <link href ='https://fonts.googleapis.com/css?family=Arimo' rel = 'stylesheet' type ='text/css'>
    <link href ='https://fonts.googleapis.com/css?family=Hind:300' rel = 'stylesheet' type ='text/css'>
    <link href ='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel = 'stylesheet' type ='text/css'>
	<style>
	.login {
	  text-align: center;
	  <!--border: 3px solid green;-->
	}


	</style>
</head>
<body style="background-color:powderblue;">

    <div class = "login">
        <h1>Term Deposist Prediction </h1>
<!--        Main input for receiving query to our ML-->
        <form action = "{{url_for('termDepositPrediction')}}" mothod = "post">

			<label for="default">Do you have any credit ?</label>
			<select name="default" id="default">
				<option value="0">No</option>
				<option value="1">Yes</option>
			</select>
			<br><br>
			<label for="housing">Do you have housing loan ? </label>
			<select name="housing" id="housing">
				<option value="0">No</option>
				<option value="1">Yes</option>
			</select>
			<br><br>
			<label for="loan">Do you have personal loan ? </label>
			<select name="loan" id="loan">
				<option value="0">No</option>
				<option value="1">Yes</option>
			</select>
			<br><br>
			<label for="age">Enter Age (between 16 and 95):</label>
			<input type="number" id="age" name="age" min="16" max="95">	
			<br><br>
			<label for="job">Select type of job :</label>
			<select name="job" id="job">
				<option value="job_admin">Admin</option>
				<option value="job_blue_collar">Blue-collar</option>
				<option value="job_entrepreneur">Entrepreneur</option>
				<option value="job_housemaid">Housemaid</option>
				<option value="job_management">Management</option>			
				<option value="job_retired">Retired</option>
				<option value="job_self_employed">Self-employed</option>
				<option value="job_services">Services</option>
				<option value="job_student">Student</option>
				<option value="job_technician">Technician</option>
				<option value="job_unemployed">Unemployed</option>
				<option value="job_unknown">Unknown</option>		
			</select>
			<br><br>
			<label for="marital">Marital Status : </label>
			<select name="marital" id="marital">
				<option value="marital_divorced">Divorced</option>
				<option value="marital_married">Married</option>
				<option value="marital_single">Single</option>
			</select>
			<br><br>
			<label for="education">Education Status : </label>
			<select name="education" id="education">
				<option value="education_primary">Primary</option>
				<option value="education_secondary">Secondary</option>
				<option value="education_tertiary">Tertiary</option>
				<option value="education_unknown">Unknown</option>
			</select>
			<br><br>
			<label for="contact">Contact communication type : </label>
			<select name="contact" id="contact">
				<option value="contact_cellular">Cellular</option>
				<option value="contact_telephone">Telephone</option>
				<option value="contact_unknown">Unknown</option>
			</select>
			<br><br>
			<label for="balance">Average yearly balance, in euros (numeric):</label>
			<input type="number" id="balance" name="balance">	
			<br><br>
			<label for="campaign">Number of contacts performed during this campaign and for this client :</label>
			<input type="number" id="campaign" name="campaign">	
			<br><br>
			<label for="duration">Last contact duration, in seconds (numeric):</label>
			<input type="number" id="duration" name="duration">	
			<br><br>
			<label for="day">Last contact day of the month (numeric):</label>
			<input type="number" id="day" name="day">	
			<br><br>
			<label for="pdays">Number of days passed by after client was last contacted:</label>
			<input type="number" id="pdays" name="pdays">	
			<br><br>
			<label for="previous">Number of contacts performed(numeric):</label>
			<input type="number" id="previous" name="previous">	
			<br><br>
			<label for="poutcome">Outcome of the previous marketing campaign: </label>
			<select name="poutcome" id="poutcome">
				<option value="poutcome_failure">Failure</option>
				<option value="poutcome_other">Other</option>
				<option value="poutcome_success">Success</option>
				<option value="poutcome_unknown">Unknown</option>
			</select>
			<br><br>
            <button type="submit" class ="btn btn-primary btn-block btn-large">Predict</button>
        </form>

     <br>
     <br>
        {{prediction_text}}

</div>
</body>
</html>